# -*- coding: utf-8 -*-
#
# Copyright (C) 2022 GEO Secretariat.
#
# geo-config is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.
#

-e git+https://github.com/geo-knowledge-hub/geo-rdm-records.git@v0.2.0#egg=geo-rdm-records
